<% provide(:title, 'All Users') %>

<% if params[:name].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザー一覧</h1>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="pull-left">
  <%= form_tag users_path, method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= button_tag 'ファイル選択', class: %i(btn-secondry csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag 'users_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
    </div>
    <div class="CSV-imp">
      <button style="width:275px" type="submit" class="btn btn-primary btn-sm">CSVインポート</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>

<div class="pull-right">
  <%= form_tag(users_path, method: "get") do %>
    <div class="col-sm-9">
      <%= label_tag :name, "ユーザー名検索" %>
      <%= text_field_tag :name,params[:name] %>
      <%= submit_tag "検索", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>


<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :affiliation %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center"><%= user.affiliation.present? ? user.affiliation : "未所属" %></td>
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.basic_work_time) %></td>
        <% end %>
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "編集", edit_basic_info_user_path(user), 
                remote: true, class: "btn btn-success" %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>