<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table" style="table-layout:fixed">
    <tr>
      <td style="width:100px"><%= link_to "⇦", user_path(date: @first_day.prev_month), class: "btn btn-info" %></td>
      <td>【<%= l(@first_day, format: :middle) %>】時間管理表</td>
      <td style="width:100px"><%= link_to "⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %></td>
      <td colspan="2">指定勤務時間 : <%= format_basic_info(@user.work_time) %></td>
      <td>基本時間 : <%= format_basic_info(@user.basic_time) %></td>
      <td>月初日 : <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td colspan="3">所属 : <%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名 : <%= @user.name %></td>
      <td>コード : <%= @user.employee_number %></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>月末日 : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="btn-users-show">
  <div class="btn-users-show-button">
    <%= link_to "勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
    <%= link_to "CSV出力", "#", class: "btn btn-success" %>
  </div>
  <div class="btn-users-show-button">
    <%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-success" %>
  </div>
</div>

<div class="btn-users-show">
  <% if current_user.instructor? %>
    <li><%= link_to "【所属長承認申請のお知らせ】","#" %></li>
    <li><%= link_to "【勤怠変更申請のお知らせ】","#" %></li>
    <li><%= link_to "【残業申請のお知らせ】","#" %></li>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances" style="table-layout:fixed">
    <thead>
      
      <tr>
        <th rowspan="3" style="width:110px">残業申請</th>
        <th rowspan="3" style="width:40px">日付</th>
        <th rowspan="3" style="width:40px">曜日</th>
        <th colspan="6">【実績】</th>
        <th colspan="4">所定外勤務</th>
      </tr>
      
      <tr>
     
        <th colspan="2">出社</th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th>終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      
      <tr>
        <th style="width:30px">時：分</th>
        <th></th>
        <th style="width:30px">時：分</th>
        <th></th>
        <th>時：分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td class="center">
            <%= link_to "残業申請", "#", class: "btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
              <font color="red">日</font>
            <% elsif day.worked_on.wday == 6 %>
              <font color="blue">土</font>
            <% else %>
              <%= $day_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td>
            <% if btn_text = attendance_state_leaving(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    
     <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="4">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td rowspan="2" colspan="4">
          <div class="form-group">
            <div class="col-sm-5">
              <select class="form-control">
                <option>上長１</option>
                <option>上長２</option>        
                <option>上長３</option>
              </select>
            </div>
          </div>
          <%= link_to "申請", "#", class: "btn btn-primary" %>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="4"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>   
  </table>
</div>